/*

*/
/*SEGOE UI*/
@font-face {
  font-family: "Segoe UI Bold";
  src: url('/fonts/SEGOEUIB.eot');
  src: url('/fonts/SEGOEUIB.eot?#iefix') format('eot'), url('/fonts/SEGOEUIB.ttf') format('truetype'), url('/fonts/SEGOEUIB.woff') format('woff');
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "Segoe UI Bold Italic";
  src: url('/fonts/SEGOEUIZ.eot');
  src: url('/fonts/SEGOEUIZ.eot?#iefix') format('eot'), url('/fonts/SEGOEUIZ.ttf') format('truetype'), url('/fonts/SEGOEUIZ.woff') format('woff');
  font-weight: bold;
  font-style: italic; }
/*

*/
