html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow:hidden;
}

#map_canvas { top: 20px; }

#loader {
  width:200px;
  padding:10px;
  position:absolute;
  top: 50px;
  z-index:1000;
  margin:auto;
  margin-left:-100px;
  left:50%;
}

/*.btn-group {
  float:right;
}*/

.container {
  display:block;
  width:auto;
  margin:0 10px;
}
