/* Some styles missed in central :( */
table {font:normal 15px "Helvetica Neue","Helvetica",Arial; color:#666666;}  
table tr {border-top: 1px solid #CCC; background-color:white; margin: 0; padding: 0;}
table tr.separator {background:#E8E8E8;}
table tr td {border: 1px solid #CCC; text-align: left; margin: 0; padding: 6px 13px;}
table td b {color:#333333;}
span.string p {display:inline-block; width:auto!important; font-size:13px;}
section.nav div.right {min-height:100px!important;}
div.right .blue.button.download {position:relative; display:inline; top:auto; right:auto; float:none; padding-right:18px!important;}

.leaflet-popup-content p {width:auto!important;}


/* Things for examples */
form.example {
  position:absolute!important; top:25px; right:25px; margin:0!important; width:150px!important;
  padding:10px!important; background:white; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; border:1px solid #CCC;
  z-index:1000;
}

/* Checkbox */
form.example input[type="checkbox"] {
    background-image: -webkit-linear-gradient(hsla(0,0%,0%,.1), hsla(0,0%,100%,.1)),
                      -webkit-linear-gradient(left, #f66 50%, #6cf 50%);
    background-size: 100% 100%, 200% 100%;
    background-position: 0 0, 5px 0;
    border-radius: 25px;
    box-shadow: inset 0 1px 4px hsla(0,0%,0%,.5),
                inset 0 0 10px hsla(0,0%,0%,.5),
                0 0 0 1px hsla(0,0%,0%,.1),
                0 -1px 2px 1px hsla(0,0%,0%,.25),
                0 2px 2px 1px hsla(0,0%,100%,.5),
                0 -2px 10px 2px hsla(0,0%,100%,.75),
                0 2px 10px 2px hsla(0,0%,0%,.25);
    cursor: pointer;
    height: 10px;
    padding-right: 10px;
    position: relative;
    width: 20px!important;
    margin:0!important;
    left:0;
    -webkit-appearance: none;
    -webkit-transition: .15s;
}
form.example input[type="checkbox"]:after {
    background-color: #eee;
    background-image: -webkit-linear-gradient(hsla(0,0%,100%,.1), hsla(0,0%,0%,.1));
    background-image: -moz-linear-gradient(hsla(0,0%,100%,.1), hsla(0,0%,0%,.1));
    border-radius: 25px;
    box-shadow: inset 0 1px 1px 1px hsla(0,0%,100%,1),
                inset 0 -1px 1px 1px hsla(0,0%,0%,.25),
                0 1px 3px 1px hsla(0,0%,0%,.5),
                0 0 2px hsla(0,0%,0%,.25);
    content: '';
    display: block;
    height: 10px;
    left: 0;
    position: relative;
    top: 0;
    width: 10px;
}
form.example input[type="checkbox"]:checked {
    background-position: 0 0, 15px 0;
    padding-left: 10px;
    padding-right: 0;
}
form.example input[type="checkbox"]:hover:before {
    background: hsla(0,0%,0%,.25);
    border-radius: 10px;
    color: #e4ded4;
    content: '✘';
    font: 12px/20px sans-serif;
    height: 20px;
    left: 25px;
    letter-spacing: 1px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: -5px;
    width: 20px;
}
form.example input[type="checkbox"]:checked:hover:before {
    content: '✔';
}

/* Range */

form.example input[type="range"] {
    background-image: -webkit-linear-gradient(left, hsla(0,0%,100%,.1) 45%, transparent 45%),
                      -webkit-linear-gradient(hsla(0,0%,0%,.1), hsla(0,0%,100%,.1)),
                      -webkit-linear-gradient(left, #f66, #6cf);
    background-size: 3px 3px, 100% 100%, 100% 100%;
    border-radius: 25px;
    box-shadow: inset 0 1px 4px hsla(0,0%,0%,.5),
                inset 0 0 10px hsla(0,0%,0%,.5),
                0 0 0 1px hsla(0,0%,0%,.1),
                0 -1px 2px 1px hsla(0,0%,0%,.25),
                0 2px 2px 1px hsla(0,0%,100%,.5),
                0 -2px 10px 2px hsla(0,0%,100%,.75),
                0 2px 10px 2px hsla(0,0%,0%,.25);
    cursor: ew-resize;
    height: 10px;
    position: relative;
    width: 150px!important;
    margin:0!important;
    left:0;
    -webkit-appearance: none;
    -webkit-transition: .15s;
}
form.example input[type="range"]::-webkit-slider-thumb {
    background-color: #eee;
    background-image: -webkit-linear-gradient(hsla(0,0%,100%,.1), hsla(0,0%,0%,.1));
    border-radius: 25px;
    box-shadow: inset 0 1px 1px 1px hsla(0,0%,100%,1),
                inset 0 -1px 1px 1px hsla(0,0%,0%,.25),
                0 1px 3px 1px hsla(0,0%,0%,.5),
                0 0 2px hsla(0,0%,0%,.25);
    content: '';
    display: block;
    height: 10px;
    left: 0;
    position: relative;
    top: 0;
    width: 10px;
    -webkit-appearance: none;
}

form.example p {width:auto!important; display:block; letter-spacing:0; padding-bottom:5px; margin:0!important; text-align:center; font:normal 13px Arial; color:#666666;}


html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow:hidden;
}

#map_canvas {  }

#loader {
  width:200px;
  padding:10px;
  position:absolute;
  top: 50px;
  z-index:1000;
  margin:auto;
  margin-left:-100px;
  left:50%;
}
#legend {
  position:absolute;
  bottom: 0px;
  right: 0px;
  width:140px;
  padding:0px;
  z-index:1000;
  background:white;
  border-color:grey!important;
}



.container {
  display:block;
  width:auto;
  margin:0 10px;
}

#tooltip {
  position:absolute;
  right: 0px;
  width:300px;
  height:auto;
  padding:10px;
  z-index:1000;
  display:none;
  background:white;
}

#tooltip label {font-weight:bold; line-height: 10px;}

.navbar .btn, .navbar .btn-group {
margin-top: 25px;
}

.navbar-inner {
  background: rgba(255,255,255,0.7);
  padding: 10px;
}

.navbar-fixed-bottom p {
    text-rendering: optimizelegibility;
    color: #414042;
    font-size: 12px;
    margin-top: 26px;

}

.nav-pills > li > a {
    border-radius: 0 !important;
    padding: 0 !important;
    margin-right: -5px !important;
}

.nav-pills a {
    
}


.nav-float {
   background: white;
    background: rgba(255,255,255,0.5);
    padding-top: 120px;
    padding-left: 20px;
    display: block;
    position: absolute;
    width: 300px;
    height: 100%;
    right: 0px;
    top: 0px;
    z-index: 1029;
}

.nav-float .row {
  margin-bottom: 20px;
}

.dropdown-menu li > a:hover,
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover,
.dropdown-menu li > a:hover small
 {
  color: #ffffff;
  text-decoration: none;
  background-color: #4e6ac2;
}

.dropdown-menu li > a small
  {
  font-size: 10px;
  font-weight: normal;
  color: #666;
  line-height: 8px;
}



form.example label {margin:0 0 0 26px; font:normal 13px Arial; color:#666666;}


