@import url(http://fonts.googleapis.com/css?family=Abril+Fatface|Headland+One|PT+Serif:400,700|Playfair+Display:400,700italic)


@import "bourbon"
@import "breakpoints"

$pageWidth: 940px
$responsiveWidth: 90%
$primary: #FCFCFC
$secondary: #FCFCFC
$linea-a: rgba(0,174,219,0.6)
$linea-b: rgba(238,27,46,0.6)
$linea-c: rgba(1,103,178,0.6)
$linea-d: rgba(0,128,103,0.6)
$linea-e: rgba(108,33,128,0.6)
$linea-h: rgba(255,210,3,0.6)


body

  @include breakpoint(smartphone)
    border: 5px solid yellow
  
  @include breakpoint(common)
    border: 5px solid green
  
  @include breakpoint(large)
    border: 5px solid red

  padding: 0px
  margin: 0px
  font-family: 'PT Serif', sans-serif


h1, h2, h4, nav li a
  font-family: 'Abril Fatface', Georgia, serif

a
  -webkit-transition: all 0.3s ease                  
  -moz-transition: all 0.3s ease                 
  -o-transition: all 0.3s ease   
  -ms-transition: all 0.3s ease          
  transition: all 0.3s ease

.help-nav
  display: block
  width: 200px
  position: fixed
  text-align: left
 
  z-index: 600
  a
    color: #ffffff
    font-size: .8em
    width: auto
    position: absolute
    left: 40px
    margin: 2px 0px
    padding: 3px
    border-radius: 4px
    background: rgba(255,255,255,0.2)

    @include breakpoint(smartphone)
      top: 250px
    
    @include breakpoint(common)
      top: 20px
    
    @include breakpoint(large)
      top: 250px
    

  a:hover
    color: #000000


  

h1
  font-size: 10em
  color: #FCFCFC
  margin-bottom: 0px
  
  @include breakpoint(smartphone)
    margin-top: 10px
  
  @include breakpoint(common)
    margin-top: 5px
  
  @include breakpoint(large)
    margin-top: 0px
  


h4
  font-size: 20px
  margin-bottom: 10px
a
  cursor: pointer
ul
  list-style: none

.nav-container
  width: 100%
  position: fixed
  left: 0px
  top: 0px
  z-index: 300
nav
  text-align: center
  width: auto
  margin: 0px auto
  ul
    padding: 0px
  li
    display: inline-block
    position: relative
    text-align: left
    width: 2.5em
    height: 2.5em
    background: rgba(255,255,255,0.5)
    border-radius: 50%
    margin: 0 0.1em
    border: 2px solid rgba(0,0,0,0.5)
    text-align: center
    a
      color: rgba(0,0,0,0.5)
      display: block
      font-size: 12px
      padding-top: 11px
      

    a.active
      color: rgba(255,255,255,0.8)


section
  overflow: hidden
  @include breakpoint(smartphone)
    padding-top: 10%
  
  @include breakpoint(common)
    padding-top: 0
  
  @include breakpoint(large)
    padding-top: 10%
  
  height: 1300px
  width: 100%
  .content
    position: relative
    margin: 0px auto
    max-width: $pageWidth

    h2
      color: $primary
      font-family: 'Abril Fatface', serif
      margin-top: 0px
      font-size: 4em
      line-height: 1em
      padding-top: 250px
      text-shadow: 1px 0px 5px rgba(150, 150, 150, 0.6)
      z-index: 10
      position: inherit
    p
      font-family: 'PT Serif', Helvetica, Arial
      font-size: 0.9em
      line-height: 1.6em
      display: block
      width: 300px
      color: $primary
      z-index: 10
      position: inherit

      span
        font-family: "Playfair Display", Georgia, serif
        font-size: 2em
        font-weight: 400

      .linea-a, .linea-b, .linea-c, .linea-d, .linea-e, .linea-h
        font-family: 'PT Serif', Helvetica, Arial
        font-size: 0.9em
        font-weight: 700
        color: #ffffff
        margin: 2px 0px
        padding: 3px
        border-radius: 4px
        
      .linea-a
        background-color: $linea-a
        
      .linea-b
        background-color: $linea-b
        
      .linea-c
        background-color: $linea-c
        
      .linea-d
        background-color: $linea-d
        
      .linea-e
        background-color: $linea-e

      .linea-h
        background-color: $linea-h




    .sharp 
      background-color: rgba(60,60,60,0.5)
      position: absolute
      display: block
      width: 2200px
      height: 1300px

      
      @include breakpoint(smartphone)
        top: 150px
      
      @include breakpoint(common)
        top: 0px
      
      @include breakpoint(large)
        top: 150px
      
      margin-left: -500px
      z-index: 0

    @media screen and (max-width: $pageWidth)
      width: $responsiveWidth
    a
      color: $secondary

#inicio
  background: url(../images/inicio.jpg) no-repeat center center fixed 
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover

  .content
  
    h1, h2
      text-shadow: 1px 0px 5px rgba(0, 0, 0, 0.7)
      
      @include breakpoint(smartphone)
        margin-left: 150px
      
      @include breakpoint(common)
        margin-left: 250px
      
      @include breakpoint(large)
        margin-left: 250px
    

    h2
      margin-top: 0px
      margin-bottom: 0px

      @include breakpoint(smartphone)
        padding-top: 260px
        font-size: 4.2em
      
      @include breakpoint(common)
        padding-top: 390px
        font-size: 4.2em
      
      @include breakpoint(large)
        padding-top: 260px
        font-size: 4.2em
      
      color: #F7F3F0

    .word1,.word2,.word3,.word4
      position: absolute

    .word1
      display: block
      
      @include breakpoint(smartphone)
        top: 20px
        font-size: 1.5em
      
      @include breakpoint(common)
        top: 0px
        font-size: 1.5em
      
      @include breakpoint(large)
        top: 10px
        font-size: 1.5em
      
      color: #FDD900

    .word2, .word3
      font-family: "Playfair Display", serif
      font-size: 0.5em
      font-weight: 700
      font-style: italic


    .word2
      
      @include breakpoint(smartphone)
        top: 262px
      
      @include breakpoint(common)
        top: 165px
        padding-left: 415px
      
      @include breakpoint(large)
        top: 262px
      
      

    .word3
      

      @include breakpoint(smartphone)
        top: 242px
        margin-left: -96px
      
      @include breakpoint(common)
        top: 248px
        margin-left: -86px
      
      @include breakpoint(large)
        top: 352px
        margin-left: -110px
      

    .word4
      
      @include breakpoint(smartphone)
        top: 320px
        font-size: 0.8em
      
      @include breakpoint(common)
        top: 220px
        font-size: 0.96em
      
      @include breakpoint(large)
        top: 220px
        font-size: 1em
    
    .logo-subte
      display: block
      margin: 0 auto

      h4 a
        text-align: center
        text-indent: -5000px
        display: block


        @include breakpoint(smartphone)
          width: 180px
          height: 180px
          background-size: 120px 120px
        
        @include breakpoint(common)
          width: 180px
          height: 180px
          background-size: 120px 120px
        
        @include breakpoint(large)
          width: 250px
          height: 250px
          background-size: 200px 200px
        




        background: url(../images/logo-subte.png) center center no-repeat
        margin: 0 auto
        -webkit-backface-visibility: hidden
        -moz-backface-visibility: hidden
        -ms-backface-visibility: hidden
        -webkit-box-sizing: border-box
        -moz-box-sizing: border-box
        box-sizing: border-box

  

.year-1910
  background: url(../images/1910.jpg) no-repeat center center fixed 
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover

  .sharp 
    background-color: rgba(0,174,219,.8)
    position: absolute
    display: block
    width: 1200px
    height: 500px

    top: 150px
    margin-left: -500px
    z-index: 0

.year-1920
  background: url(../images/1920.jpg) no-repeat center center fixed 
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover

.year-1930
  background: url(../images/1930.jpg) no-repeat center center fixed 
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
  
  h2
    color: $primary
  p
    color: $primary

.year-1940
  background: url(../images/1940.jpg) no-repeat center center fixed 
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
  
  h2
    color: $primary
  p
    color: $primary

.year-1950
  background: url(../images/1950.jpg) no-repeat center center fixed 
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
  
  h2
    color: $primary
  p
    color: $primary

.year-1960
  background: url(../images/1960.jpg) no-repeat center center fixed 
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
  
  h2
    color: $primary
  p
    color: $primary

.year-1970
  background: url(../images/1970.jpg) no-repeat center center fixed 
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
  
  h2
    color: $primary
  p
    color: $primary

.year-1980
  background: url(../images/1980.jpg) no-repeat center center fixed 
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
  
  h2
    color: $primary
  p
    color: $primary

.year-1990
  background: url(../images/1990.jpg) no-repeat center center fixed 
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
  
  h2
    color: $primary
  p
    color: $primary

.year-2000
  background: url(../images/2000.jpg) no-repeat center center fixed 
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
  
  h2
    color: $primary
  p
    color: $primary


.year-2010
  background: url(../images/2010.jpg) no-repeat center center fixed 
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
  
  h2
    color: $primary
  p
    color: $primary


// Data Viz Styles

g.line path      
  stroke-width: 12px
  fill: none
  stroke-linecap: round

g.stations circle
  fill: #fff
  stroke: none      

g.chart path
  stroke: none

g.marker path
  stroke: #fff
  stroke-width: 2px

g.marker text
  text-anchor: end
  font-size: 20px
  font-weight: bold
  fill: #fff

g.marker text.distance
  font-size: 12px
  font-weight: normal     

g.stations circle.not-yet
  opacity: 0.7

g.monochrome
  opacity: 0.7

div.layer
  position: absolute
  opacity: 0.9
  z-index: -1

.tile
  position: absolute
  width: 256px
  height: 256px

g.reticle rect
  fill: none
  stroke: #666
  opacity: 0.5
  stroke-width: 2px
  stroke-linecap: round

g.corner-label text.stops
  font-weight: bold
  font-size: 18px
  text-anchor: end

g.corner-label text.completed     
  font-size: 13px      
  text-anchor: end

.hidden
  display: none

body.loading div.credits span, body.loading div.chart,body.loading div.map
  display: none


div.map 
  position: relative
  border: 0px solid #999
  margin-top: 8px    
  overflow-x: hidden
  overflow-y: hidden

div.chart 
  border: 1px solid transparent
  // cursor: crosshair
  -webkit-touch-callout: none
  -webkit-user-select: none      
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

div.viz-container
  position: fixed
  bottom: 0px
  right: -2px
  z-index: 30


div.loading 
  text-align: center
  padding-top: 20px
  font-weight: bold
  font-size: 18px
  color: steelblue

body.loaded div.loading
  display: none

.disable-hover,
.disable-hover *
  pointer-events: none !important