@import url(http://fonts.googleapis.com/css?family=Abril+Fatface|Headland+One|PT+Serif:400,700|Playfair+Display:400,700italic);
body {
  padding: 0px;
  margin: 0px;
  font-family: "PT Serif", sans-serif; }
  @media only screen and (min-width: 48em) {
    body {
      border: 5px solid yellow; } }
  @media only screen and (min-width: 56.25em) {
    body {
      border: 5px solid green; } }
  @media only screen and (min-width: 68.75em) {
    body {
      border: 5px solid red; } }

h1, h2, h4, nav li a {
  font-family: "Abril Fatface", Georgia, serif; }

a {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.help-nav {
  display: block;
  width: 200px;
  position: fixed;
  text-align: left;
  z-index: 600; }
  .help-nav a {
    color: white;
    font-size: 0.8em;
    width: auto;
    position: absolute;
    left: 40px;
    margin: 2px 0px;
    padding: 3px;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.2); }
    @media only screen and (min-width: 48em) {
      .help-nav a {
        top: 250px; } }
    @media only screen and (min-width: 56.25em) {
      .help-nav a {
        top: 20px; } }
    @media only screen and (min-width: 68.75em) {
      .help-nav a {
        top: 250px; } }
  .help-nav a:hover {
    color: black; }

h1 {
  font-size: 10em;
  color: #fcfcfc;
  margin-bottom: 0px; }
  @media only screen and (min-width: 48em) {
    h1 {
      margin-top: 10px; } }
  @media only screen and (min-width: 56.25em) {
    h1 {
      margin-top: 5px; } }
  @media only screen and (min-width: 68.75em) {
    h1 {
      margin-top: 0px; } }

h4 {
  font-size: 20px;
  margin-bottom: 10px; }

a {
  cursor: pointer; }

ul {
  list-style: none; }

.nav-container {
  width: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 300; }

nav {
  text-align: center;
  width: auto;
  margin: 0px auto; }
  nav ul {
    padding: 0px; }
  nav li {
    display: inline-block;
    position: relative;
    text-align: left;
    width: 2.5em;
    height: 2.5em;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    margin: 0 0.1em;
    border: 2px solid rgba(0, 0, 0, 0.5);
    text-align: center; }
    nav li a {
      color: rgba(0, 0, 0, 0.5);
      display: block;
      font-size: 12px;
      padding-top: 11px; }
    nav li a.active {
      color: rgba(255, 255, 255, 0.8); }

section {
  overflow: hidden;
  height: 1300px;
  width: 100%; }
  @media only screen and (min-width: 48em) {
    section {
      padding-top: 10%; } }
  @media only screen and (min-width: 56.25em) {
    section {
      padding-top: 0; } }
  @media only screen and (min-width: 68.75em) {
    section {
      padding-top: 10%; } }
  section .content {
    position: relative;
    margin: 0px auto;
    max-width: 940px; }
    section .content h2 {
      color: #fcfcfc;
      font-family: "Abril Fatface", serif;
      margin-top: 0px;
      font-size: 4em;
      line-height: 1em;
      padding-top: 250px;
      text-shadow: 1px 0px 5px rgba(150, 150, 150, 0.6);
      z-index: 10;
      position: inherit; }
    section .content p {
      font-family: "PT Serif", Helvetica, Arial;
      font-size: 0.9em;
      line-height: 1.6em;
      display: block;
      width: 300px;
      color: #fcfcfc;
      z-index: 10;
      position: inherit; }
      section .content p span {
        font-family: "Playfair Display", Georgia, serif;
        font-size: 2em;
        font-weight: 400; }
      section .content p .linea-a, section .content p .linea-b, section .content p .linea-c, section .content p .linea-d, section .content p .linea-e, section .content p .linea-h {
        font-family: "PT Serif", Helvetica, Arial;
        font-size: 0.9em;
        font-weight: 700;
        color: white;
        margin: 2px 0px;
        padding: 3px;
        border-radius: 4px; }
      section .content p .linea-a {
        background-color: rgba(0, 174, 219, 0.6); }
      section .content p .linea-b {
        background-color: rgba(238, 27, 46, 0.6); }
      section .content p .linea-c {
        background-color: rgba(1, 103, 178, 0.6); }
      section .content p .linea-d {
        background-color: rgba(0, 128, 103, 0.6); }
      section .content p .linea-e {
        background-color: rgba(108, 33, 128, 0.6); }
      section .content p .linea-h {
        background-color: rgba(255, 210, 3, 0.6); }
    section .content .sharp {
      background-color: rgba(60, 60, 60, 0.5);
      position: absolute;
      display: block;
      width: 2200px;
      height: 1300px;
      margin-left: -500px;
      z-index: 0; }
      @media only screen and (min-width: 48em) {
        section .content .sharp {
          top: 150px; } }
      @media only screen and (min-width: 56.25em) {
        section .content .sharp {
          top: 0px; } }
      @media only screen and (min-width: 68.75em) {
        section .content .sharp {
          top: 150px; } }
    @media screen and (max-width: 940px) {
      section .content {
        width: 90%; } }
    section .content a {
      color: #fcfcfc; }

#inicio {
  background: url(../images/inicio.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  #inicio .content h1, #inicio .content h2 {
    text-shadow: 1px 0px 5px rgba(0, 0, 0, 0.7); }
    @media only screen and (min-width: 48em) {
      #inicio .content h1, #inicio .content h2 {
        margin-left: 150px; } }
    @media only screen and (min-width: 56.25em) {
      #inicio .content h1, #inicio .content h2 {
        margin-left: 250px; } }
    @media only screen and (min-width: 68.75em) {
      #inicio .content h1, #inicio .content h2 {
        margin-left: 250px; } }
  #inicio .content h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #f7f3f0; }
    @media only screen and (min-width: 48em) {
      #inicio .content h2 {
        padding-top: 260px;
        font-size: 4.2em; } }
    @media only screen and (min-width: 56.25em) {
      #inicio .content h2 {
        padding-top: 390px;
        font-size: 4.2em; } }
    @media only screen and (min-width: 68.75em) {
      #inicio .content h2 {
        padding-top: 260px;
        font-size: 4.2em; } }
  #inicio .content .word1, #inicio .content .word2, #inicio .content .word3, #inicio .content .word4 {
    position: absolute; }
  #inicio .content .word1 {
    display: block;
    color: #fdd900; }
    @media only screen and (min-width: 48em) {
      #inicio .content .word1 {
        top: 20px;
        font-size: 1.5em; } }
    @media only screen and (min-width: 56.25em) {
      #inicio .content .word1 {
        top: 0px;
        font-size: 1.5em; } }
    @media only screen and (min-width: 68.75em) {
      #inicio .content .word1 {
        top: 10px;
        font-size: 1.5em; } }
  #inicio .content .word2, #inicio .content .word3 {
    font-family: "Playfair Display", serif;
    font-size: 0.5em;
    font-weight: 700;
    font-style: italic; }
  @media only screen and (min-width: 48em) {
    #inicio .content .word2 {
      top: 262px; } }
  @media only screen and (min-width: 56.25em) {
    #inicio .content .word2 {
      top: 165px;
      padding-left: 415px; } }
  @media only screen and (min-width: 68.75em) {
    #inicio .content .word2 {
      top: 262px; } }
  @media only screen and (min-width: 48em) {
    #inicio .content .word3 {
      top: 242px;
      margin-left: -96px; } }
  @media only screen and (min-width: 56.25em) {
    #inicio .content .word3 {
      top: 248px;
      margin-left: -86px; } }
  @media only screen and (min-width: 68.75em) {
    #inicio .content .word3 {
      top: 352px;
      margin-left: -110px; } }
  @media only screen and (min-width: 48em) {
    #inicio .content .word4 {
      top: 320px;
      font-size: 0.8em; } }
  @media only screen and (min-width: 56.25em) {
    #inicio .content .word4 {
      top: 220px;
      font-size: 0.96em; } }
  @media only screen and (min-width: 68.75em) {
    #inicio .content .word4 {
      top: 220px;
      font-size: 1em; } }
  #inicio .content .logo-subte {
    display: block;
    margin: 0 auto; }
    #inicio .content .logo-subte h4 a {
      text-align: center;
      text-indent: -5000px;
      display: block;
      background: url(../images/logo-subte.png) center center no-repeat;
      margin: 0 auto;
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
      @media only screen and (min-width: 48em) {
        #inicio .content .logo-subte h4 a {
          width: 180px;
          height: 180px;
          background-size: 120px 120px; } }
      @media only screen and (min-width: 56.25em) {
        #inicio .content .logo-subte h4 a {
          width: 180px;
          height: 180px;
          background-size: 120px 120px; } }
      @media only screen and (min-width: 68.75em) {
        #inicio .content .logo-subte h4 a {
          width: 250px;
          height: 250px;
          background-size: 200px 200px; } }

.year-1910 {
  background: url(../images/1910.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  .year-1910 .sharp {
    background-color: rgba(0, 174, 219, 0.8);
    position: absolute;
    display: block;
    width: 1200px;
    height: 500px;
    top: 150px;
    margin-left: -500px;
    z-index: 0; }

.year-1920 {
  background: url(../images/1920.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.year-1930 {
  background: url(../images/1930.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  .year-1930 h2 {
    color: #fcfcfc; }
  .year-1930 p {
    color: #fcfcfc; }

.year-1940 {
  background: url(../images/1940.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  .year-1940 h2 {
    color: #fcfcfc; }
  .year-1940 p {
    color: #fcfcfc; }

.year-1950 {
  background: url(../images/1950.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  .year-1950 h2 {
    color: #fcfcfc; }
  .year-1950 p {
    color: #fcfcfc; }

.year-1960 {
  background: url(../images/1960.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  .year-1960 h2 {
    color: #fcfcfc; }
  .year-1960 p {
    color: #fcfcfc; }

.year-1970 {
  background: url(../images/1970.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  .year-1970 h2 {
    color: #fcfcfc; }
  .year-1970 p {
    color: #fcfcfc; }

.year-1980 {
  background: url(../images/1980.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  .year-1980 h2 {
    color: #fcfcfc; }
  .year-1980 p {
    color: #fcfcfc; }

.year-1990 {
  background: url(../images/1990.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  .year-1990 h2 {
    color: #fcfcfc; }
  .year-1990 p {
    color: #fcfcfc; }

.year-2000 {
  background: url(../images/2000.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  .year-2000 h2 {
    color: #fcfcfc; }
  .year-2000 p {
    color: #fcfcfc; }

.year-2010 {
  background: url(../images/2010.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  .year-2010 h2 {
    color: #fcfcfc; }
  .year-2010 p {
    color: #fcfcfc; }

g.line path {
  stroke-width: 12px;
  fill: none;
  stroke-linecap: round; }

g.stations circle {
  fill: white;
  stroke: none; }

g.chart path {
  stroke: none; }

g.marker path {
  stroke: white;
  stroke-width: 2px; }

g.marker text {
  text-anchor: end;
  font-size: 20px;
  font-weight: bold;
  fill: white; }

g.marker text.distance {
  font-size: 12px;
  font-weight: normal; }

g.stations circle.not-yet {
  opacity: 0.7; }

g.monochrome {
  opacity: 0.7; }

div.layer {
  position: absolute;
  opacity: 0.9;
  z-index: -1; }

.tile {
  position: absolute;
  width: 256px;
  height: 256px; }

g.reticle rect {
  fill: none;
  stroke: #666666;
  opacity: 0.5;
  stroke-width: 2px;
  stroke-linecap: round; }

g.corner-label text.stops {
  font-weight: bold;
  font-size: 18px;
  text-anchor: end; }

g.corner-label text.completed {
  font-size: 13px;
  text-anchor: end; }

.hidden {
  display: none; }

body.loading div.credits span, body.loading div.chart, body.loading div.map {
  display: none; }

div.map {
  position: relative;
  border: 0px solid #999999;
  margin-top: 8px;
  overflow-x: hidden;
  overflow-y: hidden; }

div.chart {
  border: 1px solid transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

div.viz-container {
  position: fixed;
  bottom: 0px;
  right: -2px;
  z-index: 30; }

div.loading {
  text-align: center;
  padding-top: 20px;
  font-weight: bold;
  font-size: 18px;
  color: steelblue; }

body.loaded div.loading {
  display: none; }

.disable-hover,
.disable-hover * {
  pointer-events: none !important; }
